*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.card {
  background-color: #ffffb9;
  width: 50%;
  padding: 10px 20px;
  border: 2px solid #797949;
  margin: 8px 0;
}
